<!-- all.ejs -->
<a href="/all/<%=name1[i]%>">
    <img src="<%=image_link1[i]%>" alt="shoes_img" id="shoe_img">
</a> 
<a href="/all/<%=name1[i]%>">
    <div class="container-bottom">
        <span class="cont-a"><a href="<%= baseUrl %>/all/<%=name1[i]%>"><%=name1[i]%></a></span>
        <h5>Brand:<%=brand1[i]%></h5>
        <h4>Starting from <%=price1[i]%></h4> 
    </div>
</a>
